* {
	box-sizing: border-box;
}
body {
	font-size: 16px;
	color: black;
}

/** HEADER **/
#header-nav {
  background-color: grey;;
  border-radius: 0;
  border: 2px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-header h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: black;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 15px;
  margin-bottom: 0;
  line-height: .75;
  border: 0 0 10px 10px;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list a {
  color: black;
  text-align: center;
}

/* HOME */
#ourmenu {
	font-size: 2em;
	color: brown;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	margin-bottom: 20px;
}
section {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: auto;
  background-color: #92969c;
}

.row p {
	width: 100%;
	height: 200px;
	margin: 10px;
	padding: 10px;
	overflow: auto;
}

#chicken {
	text-align: center;
	box-sizing: border-box;
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	margin: 0px 0px 0 70%;
	padding: 5px;
	width: 30%;
	background-color: #e38da4;
}

#beef {
	color: white;
	text-align: center;
	box-sizing: border-box;
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	margin: 0px 0px 0 70%;
	padding: 5px;
	width: 30%;
	background-color: #a62346;
}

#sushi {
	text-align: center;
	box-sizing: border-box;
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	margin: 0px 0px 0 70%;
	padding: 5px;
	width: 30%;
	background-color: #edecb7;
}
.navbar-nav>li>a {
	padding: 0;
}
hr{
	color: black;
}

p {
	margin-top: 10px;
}
@media (max-width: 720px){
	.navbar-header h1 {
		margin-left: 20px;
	}
}









